body {
  background: #111111;
  padding: 20px;
  font-family: Calibri;
  color: #FFFFFF;
}

button {
  background: #0084ff;
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: #fff;
}

#banner-message.alt {
  background: #0084ff;
  color: #fff;
  margin-top: 40px;
  width: 200px;
}

#banner-message.alt button {
  background: #fff;
  color: #000;
}

footer {
  background: #222222;
  border: none;
  border-radius: 0px;
  padding: 50px 20px;
}

font {
  background: #222222;
  border-radius: 8px;
  padding: 20px 20px;
}